@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}
:root {
  --main-transition: 300ms ease-in-out;
  --background-color: #fff5f0;
  --uni-color: #ff8d4d;
  --components-bg-color: #ffefe5;
  --shadow-color: #ffbe99;
  --btns-shadow: #1e1e1e;
}
html {
  font-size: 16px;
  line-height: 1.5;
}
body{
  background-color: var(--background-color);
}
a{
  text-decoration: none;
  color: black;
}
button {
  cursor: pointer;
}
.main-containers{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5%;
  max-width: 100%;     /* no child should be wider than parent */
}
.container{
  width: 95%;
  margin-top: 1%;
  margin-bottom: 1%;
}
/* =========================  home section =========================  */
.photo img{
  width: 100%;
}
.navi{
  width: 100%;
}
nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 5em;
  border: 2px solid black;
  border-radius: 12px;
  background-color: #ffffff;
}
nav a{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 15%;
  background-color: var(--uni-color);
  border-radius: 12px 0px 0px 12px;
  border-right: 2px solid black;
}
nav a img {
  height: 50px;
}
nav a span {
  font-size: 1.25rem;
  font-weight: 600;
}
.nav-ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  width: 50%;
  height: 100%;
  padding: 0px;
}
.nav-ul li{
  height: 100%;
  width: 17%;
}
.active {
  background-color: var(--components-bg-color);
}
ul li button{
  cursor: pointer;
  height: 100%;
  border: 0;
  border-left: 2px solid black;
  width: 100%;
  background-color: transparent;
  transition: var(--main-transition);    
  padding: 15%;
}
ul li button:hover{
  background-color: var(--components-bg-color);
}
#contact{
  background-color: var(--uni-color);
  border-radius: 0px 12px 12px 0px;
}
.main{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.hero-left-side{
  position: relative;
  width: 45%;
  border: 2px solid black;
  background-color: var(--shadow-color);
}
.hero-left-side img {
  width: 100%;
}
.circle {
  position: absolute;
  border: 2px solid rgba(0, 0, 0, 0.8);
  border-radius: 50%;
  background-color: var(--background-color);
  position: absolute;
  border: 2px solid rgba(0, 0, 0, 0.8);
  border-radius: 50%;
  background-color: var(--background-color);
}
.hero-right-side{
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  gap: 6%;
}
.welcome-span{
  font-size: 1rem;
  border-bottom: 1px solid black;
  width: 39%;
  padding-bottom: 1%;
}

.hero-right-side h1{
  font-size: 3rem;
}

.special{
  color: var(--uni-color);
}

.hero-right-side p{
  line-height: 1.5;
  font-size: 1.25rem;
  font-weight: 600;
}

.bot-half-right-side{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid black;
  border-radius: 12px;
  height: 141px;
  background-color: var(--components-bg-color);
  box-shadow: 8px 8px 0px 1px var(--shadow-color);
}

.bot-half-right-side h3{
  font-size: 2.75rem;
  font-weight: 800;
}

.bot-half-right-side p{
  font-size: 1.125rem;
}
/* =========================  home section =========================  */
/* tareq */
.photo img {
  width: 100%;
}

.freq-quest-sec {
  text-align: center;
}

.fqs-part-a {
  text-align: center;
  margin-bottom: 20px;
}

.fqs-part-a span {
  border: 2px solid #000;
  border-radius: 8px;
  padding: 10px 20px;
  background-color: #ffffff;
  font-size: 1rem;
  color: #333333;
  font-weight: 300;
}

.fqs-part-a h2 {
  display: block;
  font-weight: 700;
  font-size: 2erm;
  color: #1a1a1a;
  margin: 20px;
}

.fqs-part-a p {
  font-size: 1rem;
  font-weight: 500;
  color: #333333;
}

.fqs-part-b {
  width: 100%;
  display: flex;
  gap: 25px;
  margin-top: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.quest {
  width: 45%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  border: 2px solid #000;
  border-radius: 8px;
}

.q-a {
  width: 100%;
  padding-right: 80px;
  text-align: left;
  margin: 2em 1em;
}

.q-a p {
  font-size: 1rem;
}

.quest button {
  position: absolute;
  top: -3px;
  right: 5px;
  width: 40px;
  height: 40px;
  font-size: 1rem;
  text-align: center;
  align-items: center;
  margin: 20px;
  background-color: #fff5f0;
  border-radius: 5px;
}

.answer-div hr {
  margin-top: 10px;
}

.answer-div p {
  margin-top: 10px;
}

#Q1,
#Q2,
#Q3,
#Q4,
#Q5,
#Q6,
#Q7,
#Q8 {
  display: none;
}

.selected {
  background-color: #ffffff;
}

.not-selected {
  background-color: #ffefe5;
}

@media (max-width: 576px) {
  /* html {
    font-size: 18px;
  } */

  .quest {
    width: 100%;
    margin: 0px 20px;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  /* html {
    font-size: 24px;
  } */

  .quest {
    width: 45%;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  /* html {
    font-size: 28px;
  } */

  .quest {
    width: 45%;
  }
}

/* =========================  navigation section =========================  */
.navigate {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.top-of-sections {
  background-color: #ffffff;
  border: 2px solid black;
  height: auto;
  border-radius: 8px;
  line-height: 2.5rem;
  padding: 0.5rem 1rem;
}
.navigate h2 {
  font-size: 3rem;
  margin: 2%;
  font-weight: 700;
}
.nav-para {
  font-size: 1rem;
  color: #333333;
  margin: 0px 18%;
}
.nav-cards {
  display: flex;
  flex-direction: row;
  gap: 6%;
  margin: 5% 0%;
}
.nav-card {
  width: 50%;
  height: auto;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 8px;
  border: 1px solid black;
  box-shadow: 4px 4px 0px 2px var(--btns-shadow);
  font-family: var(--special-font);
}
.nav-card h3 {
  font-size: 2rem;
  margin: 10% 0 0 0;
}
/* ========================= shaper ========================= */
.stepper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px; /* space between segments */
  width: 75%;
  z-index: 1;
  margin: 10% 0 0 0;
}
.nav-circle {
  width: 20px;
  height: 20px;
  border: 2px solid black;
  border-radius: 50%;
  background: white;
}
.nav-line {
  flex: 1; /* stretch evenly */
  height: 2px;
  background: black;
  position: relative;
}
.nav-line::before {
  content: "";
  position: absolute;
  top: -3px;
  left: 0;
  right: 0;
  height: 8px;
  background: var(--shadow-color); /* background highlight */
  z-index: -1; /* put behind line */
  border-radius: 2px;
}
/* ========================= shapes ========================= */
.nav-card p {
  font-size: 1.25rem;
  padding: 0% 3%;
  margin: 15% 0;
}
.nav-card button {
  width: 85%;
  height: 4rem;
  font-size: 1.25rem;
  border: 1px solid black;
  border-radius: 8px;
  background-color: var(--components-bg-color);
  box-shadow: 2px 2px 0px 2px var(--btns-shadow);
  transition: var(--main-transition);
  margin: 0 0 10% 0;
}
.nav-card button:active {
  box-shadow: 2px 2px 0px 2px var(--shadow-color);
}
/* =========================  End of navigation section =========================  */
/* =========================  footer section =========================  */
.fot{
  margin-bottom: 2%;
}
.fot h4{
  font-weight: 800;
}
.big-footer{
  border-radius: 12px;
  box-shadow: 5px 10px #000000;
  background-color: #ffffff;
  padding: 3%; 
  border: 1px solid #000; 
  line-height: 2.5rem;
}
.breakers{
  margin: auto;
  width: 95%;
  height: 1px;
  background-color: #262626;
}
.top-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2% auto;
}
.top-footer a:hover{
  color: var(--uni-color);
}
.left-side{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding: 1%;
}
.icon{
  height: 50%;
  width: 50%;
}
.contact-info{
  list-style: none;
  padding: 1%;
  margin: 2%;
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer-icons{
  display: flex;
  margin: 2% 0;
  gap: 3%;
}
.footer-icons i{
  border: 2px solid black;
  width: 40px;
  height: 40px;
  background-color: var(--background-color);
  border-radius: 6px;
  padding: 0.59rem 0.59rem;
}
.right-side{
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 1%;
}
.right-side ul{
  list-style: none;
  flex: 1;
}
.footer-col{
  display: flex;
  flex-direction: column;
  padding: 1%;
  width: 100%;
}
.footer-col ul{
  padding: 1%;
}
.mid-footer{
  width: 95%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 1%;
}
.mid-footer-left-side{
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: flex-start;
  gap: 5%;
  margin: 2% 0;
}
.mid-footer-breakers{
  height: 2rem;
  width: 1px;
  background-color: #262626;
}
.mid-footer-right-side{
  gap: 5%;
  display: flex;
  width: 20%;
  justify-content: flex-end;
  margin: 2% 0;
}
.mid-footer-right-side a{
  text-align: center;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 10px;
  border: 2px solid black;
  padding: 0.5rem;
  background: linear-gradient(56deg, var(--shadow-color) 0%, var(--components-bg-color) 100%);
  transition: var(--main-transition);
}
.mid-footer-right-side a:hover{
  box-shadow: 0px 0px 6px 2px #00000059;
} 
.bot-footer{
  color: #656567;
  margin: 1% auto;
  text-align: center;
}
/* =========================  End of footer section =========================  */
/* media of navigation section */
@media screen and (max-width: 757px) {
  .navigate .container h2 {
    font-size: 2.5rem;
    margin: 2%;
  }
  .nav-para {
    font-size: 1rem;
    color: #333333;
    margin: 0% 0%;
  }
  .nav-cards {
    flex-direction: column;
    margin: 5% 0%;
    align-items: center;
  }
  .nav-card {
    width: 95%;
    margin: 5% 0;
  }
}
/* media of footer */
@media screen and (max-width: 757px){
  .top-footer{
    flex-direction: column;
  }
  .left-side{
    align-items: center;
    text-align: center;
  }
  .right-side{
    flex-wrap: wrap;
  }
  .footer-col{
    width: 50%;
  }
  .right-side :nth-child(1){order: 1;}
  .right-side :nth-child(2){order: 3;}
  .right-side :nth-child(3){order: 2;}
  .right-side :nth-child(4){order: 4;}
  .mid-footer{
    flex-direction: column;
  }
  .mid-footer-left-side{
    width: 100%;
    justify-content: center;
  }
  .mid-footer-right-side{
    width: 100%;
    justify-content: center;
  }
  .contact-info{
    align-items: center;
  }
  .footer-icons{
    justify-content: flex-start;
    width: 120%;
    margin: 7% 0;
  }
}