@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}
:root {
    --main-transition: 100ms ease-in-out;
    --background-color: #FFF5F0;
    --uni-color: #FF8D4D;
    --components-bg-color: #FFEFE5;
    --shadow-color: #FFBE99;

}
body{
    background-color: var(--background-color);
}
a{
    text-decoration: none;
    color: black;
}
header{
    overflow: visible;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.container{
    width: 95%;
    margin-top: 1%;
    margin-bottom: 1%;
}
.photo img{
    width: 100%;
}
.navigate{
    position: sticky;
    top: 0;
    width: 100%;
}
nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 5em;
    border: 1px solid black;
    border-radius: 12px;
    background-color: var(--background-color);
}
ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 50%;
    height: 100%;
    padding: 0px;
    /* border: 1px solid red; */
}
ul li{
    height: 100%;
    width: 17%;
}
ul li button{
    cursor: pointer;
    height: 100%;
    border: 0;
    border-left: 1px solid black;
    width: 100%;
    background-color: transparent;
    transition: var(--main-transition);
}
ul li button:hover{
    background-color: var(--components-bg-color);
}
#contact{
    background-color: var(--uni-color);
    border-radius: 0px 12px 12px 0px;
}
.main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.hero-left-side{
    position: relative;
    width: 45%;
    border: 2px solid black;
    background-color: var(--shadow-color);
}
.hero-left-side img{
    width: 100%;
}
.circle {
    position: absolute;
    border: 2px solid rgba(0, 0, 0, 0.8);
    border-radius: 50%;
    background-color: var(--background-color);
}
.hero-right-side{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    justify-content: center;
    gap: 6%;
}
.welcome-span{
    font-size: 1rem;
    border-bottom: 1px solid black;
    width: 39%;
    padding-bottom: 1%;
}
.hero-right-side h1{
    font-size: 3rem;
}
.special{
    color: var(--uni-color);
}
.hero-right-side p{
    line-height: 1.5;
    font-size: 1.25rem;
    font-weight: 600;
}
.bot-half-right-side{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid black;
    border-radius: 12px;
    height: 141px;
    background-color: var(--components-bg-color);
    box-shadow: 8px 8px 0px 1px var(--shadow-color);
}
.bot-half-right-side h3{
    font-size: 2.75rem;
    font-weight: 800;
}
.bot-half-right-side p{
    font-size: 1.125rem;
}
/* tareq */
.photo img {
  width: 100%;
}

.freq-quest-sec {
  text-align: center;
}

.fqs-part-a {
  text-align: center;
  margin-bottom: 20px;
}

.fqs-part-a span {
  border: 2px solid #000;
  border-radius: 8px;
  padding: 10px 20px;
  background-color: #ffffff;
  font-size: 18px;
  color: #333333;
  font-weight: 300;
}

.fqs-part-a h2 {
  display: block;
  font-weight: 700;
  font-size: 58px;
  color: #1a1a1a;
  margin: 20px;
}

.fqs-part-a p {
  font-size: 20px;
  font-weight: 500;
  color: #333333;
}

.fqs-part-b {
  display: flex;
  gap: 50px;
  margin-top: 20px;
}

.fqs-part-b-right {
  width: 50%;
}

.fqs-part-b-left {
  width: 50%;
}

.quest {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  border: 2px solid #000;
  border-radius: 8px;
  margin-bottom: 30px;
  padding-right: 10%;
}

.q-a {
  width: 95%;
  text-align: left;
  margin: 20px;
}

.q-a p {
  font-size: 22px;
}

.quest button {
  position: absolute;
  top: -3px;
  right: 5px;
  width: 25px;
  height: 25px;
  margin: 20px;
  background-color: #fff5f0;
  border-radius: 5px;
}

.answer-div hr {
  margin-top: 10px;
}

.answer-div p {
  margin-top: 10px;
}

#Q1,
#Q2,
#Q3,
#Q4,
#Q5,
#Q6,
#Q7,
#Q8 {
  display: none;
}

.selected {
  background-color: #ffffff;
}

.not-selected {
  background-color: #ffefe5;
}